@import "tailwindcss";

@theme {
  --color-main: #0064AD;
  --color-red: #EB312F;
  --color-yellow: #FFC107;
}

body {
  font-family: var(--font-figtree), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.container {
  margin: auto;
  width: 90%;
}

section {
  padding-block: 40px;
}

@media (max-width: 992px) {
  section {
    padding-block: 30px;
  }
}

@media (max-width: 756px) {
  body {
    font-size: 16px;
  }

  section {
    padding-block: 20px;
  }
}