@import "tailwindcss";

@theme {
  --color-main: #0064AD;
  --color-red: #EB312F;
  --color-yellow: #FFC107;
  --color-green: #689F38;
  --color-grey: #F6F7F9;
}

body {
  font-family: var(--font-figtree), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 96rem) {
  .container {
    max-width: 90rem;
  }
}

.container {
  margin: auto;
  width: 90%;
}

section {
  padding-block: 60px;
}


@media (min-width: 1300px) {
  .hero-content {
    top: 60px;
    left: 20px;
  }
}

@media (min-width: 1600px) {
  .hero-content {
    top: 110px;
    left: 60px;
  }
}

@media (min-width: 1800px) {
  .hero-content {
    top: 140px;
    left: 100px;
  }
}

@media (min-width: 2000px) {
  .hero-content {
    top: 160px;
    left: 120px;
  }
}

@media (min-width: 2200px) {
  .hero-content {
    top: 180px;
    left: 160px;
  }
}

@media (min-width: 2500px) {
  .hero-content {
    top: 220px;
    left: 250px;
  }
}




@media (max-width: 992px) {
  section {
    padding-block: 40px;
  }
}

@media (max-width: 756px) {
  body {
    font-size: 16px;
  }

  section {
    padding-block: 30px;
  }
}