@import "tailwindcss";

@theme {
  --color-main: #0064AD;
  --color-red: #EB312F;
  --color-yellow: #FFC107;
  --color-green: #689F38;
  --color-grey: #F6F7F9;
}

body {
  font-family: var(--font-figtree), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 96rem) {
  .container {
    max-width: 90rem;
  }
}

.container {
  margin: auto;
  width: 90%;
}

section {
  padding-block: 60px;
}

@media (max-width: 900px) {
  .hero-content {
    left: 50% !important;
    transform: translateX(-50%);
    bottom: 10%;
    width: 100%;
    text-align: center;
    max-width: 100%;
    height: auto;
    align-self: flex-start;
    top: unset !important;
    align-items: center;
    padding-inline: 20px;
    gap: 8px !important;
  }
}


.hero-content {
  top: 40px;
  left: 20px;
}


@media (min-width: 1600px) {
  .hero-content {
    top: 110px;
    left: 60px;
  }
}

@media (min-width: 1800px) {
  .hero-content {
    top: 120px;
    left: 60px;
  }
}

@media (min-width: 2000px) {
  .hero-content {
    top: 140px;
    left: 70px;
  }
}

@media (min-width: 2200px) {
  .hero-content {
    top: 180px;
    left: 160px;
  }
}

@media (min-width: 2500px) {
  .hero-content {
    top: 220px;
    left: 160px;
  }
}

@media (max-width: 992px) {
  section {
    padding-block: 40px;
  }
}

@media (max-width: 756px) {
  body {
    font-size: 16px;
  }

  section {
    padding-block: 30px;
  }
}

/*** Carousel ***/


.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

@media (max-width: 1250px) and (min-width: 1050px) {
  .hero-heading {
    max-width: 450px;
    width: 100%;
  }
}